html, body {
  background: url(../img/background2.jpeg);
  background-color: #FF524E;
  background-position: top; /* second backgrond */
  background-repeat: no-repeat;
  background-size : 100%;
  min-height: 100%;
  min-width: 100%;
  margin: 0, auto;
  /*background-attachment: fixed;*/
}

#menu {
	width:1045px;
	margin:0 auto;
	list-style:none;
}
#menu li {
	float:left;
}
#menu a {
	display:block;
	text-align:center;
	width:185px; /* fixed width */
	text-decoration:none; 
	font-family: "Crimson Text";
	font-size: 2.5em;
	color:white;
}
.top_half .bio_info{
	font-family: "Crimson Text";
	font-size: 2.5em;
	color:white;
	border: 1px solid #424242;
	border-width: 10px;
	background: #424242;
	position: absolute;
	margin-left: 240px;
	margin-right: 240px;
	text-align: center;
	font-size: 1.75em;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#about {
	font-family: "Crimson Text";
	font-size: 2.5em;
	color:white;
	border: 1px solid #424242;
	border-width: 10px;
	background: #424242;
	position: absolute;
	margin-top: 800px;
	margin-left: 240px;
	margin-right: 240px;
	text-align: center;
	font-size: 1.75em;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.quote {
	font-family: "Crimson Text";
	font-size: 2.5em;
	color:white;
	border: 1px solid #424242;
	border-width: 1px;
	background: #424242;
	position: absolute;
	margin-top: 250px;
	margin-left: 240px;
	margin-right: 240px;
	text-align: center;
	font-size: 1.55em;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#footer {
	position: absolute;
	font-family: "Crimson Text";
	font-size: 1.5em;
	color:white;
	margin-top: 1200px;
	margin-left: 39%;
	text-align: center;
}
#contact {
	font-family: "Crimson Text";
	font-size: 2.5em;
	color:white;
	border: 1px solid #424242;
	border-width: 10px;
	background: #424242;
	position: absolute;
	margin-top: 1200px;
	margin-left: 240px;
	margin-right: 240px;
	text-align: center;
	font-size: 1.75em;
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #424242;
}

li {
    float: left;
    margin: 16px;
    /*align-self: center;*/
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #111111;
}